In [68]:
import pandas as pd
from src.funcioncitas import *
import numpy as np

In [4]:
df = pd.read_csv('./DATA/tripadvisor_european_restaurants.csv')
df.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(1083397, 42)

## % de nulos

<H4> COLUMNS </H4>

In [6]:
pk.porcentageCOL(df)

526351    0.738095
521199    0.738095
525716    0.738095
526346    0.738095
521187    0.738095
            ...
495513    0.000000
444650    0.000000
876417    0.000000
982492    0.000000
606558    0.000000
Length: 1083397, dtype: float64

<H4> ROWS </H4>

In [7]:
pk.porcentageROW(df)

keywords                             0.908438
atmosphere                           0.758367
awards                               0.757122
price_range                          0.719099
features                             0.707026
special_diets                        0.685936
working_shifts_per_week              0.451880
open_hours_per_week                  0.451880
open_days_per_week                   0.451880
original_open_hours                  0.451880
food                                 0.446809
value                                0.443702
service                              0.442229
meals                                0.413560
city                                 0.369841
province                             0.314411
price_level                          0.255867
cuisines                             0.156086
top_tags                             0.102118
popularity_generic                   0.090264
avg_rating                           0.089197
excellent                            0.087865
reviews_count_in_default_language    0.087865
default_language                     0.087865
very_good                            0.087865
poor                                 0.087865
terrible                             0.087865
average                              0.087865
popularity_detailed                  0.087676
total_reviews_count                  0.048214
region                               0.046449
longitude                            0.014575
latitude                             0.014575
claimed                              0.001700
restaurant_link                      0.000000
gluten_free                          0.000000
vegan_options                        0.000000
restaurant_name                      0.000000
address                              0.000000
country                              0.000000
original_location                    0.000000
vegetarian_friendly                  0.000000
dtype: float64

## Delete Nulls

In [21]:
df1 = df.dropna(axis=0, how='all')
df1 = df.dropna(axis=1, how='all')
df1.shape   #No tenemos ninguna fila ni columnas vacia

(1083397, 42)

## AnÃ¡lisis de cada Columna

In [27]:
df.country.unique()

array(['France', 'The Netherlands', 'Germany', 'Austria', 'Spain',
       'England', 'Northern Ireland', 'Scotland', 'Wales', 'Italy',
       'Ireland', 'Poland', 'Sweden', 'Belgium', 'Greece', 'Croatia',
       'Portugal', 'Slovakia', 'Czech Republic', 'Hungary', 'Finland',
       'Denmark', 'Bulgaria', 'Romania'], dtype=object)

In [36]:
df.restaurant_link[:3]

0    g10001637-d10002227
1    g10001637-d14975787
2     g10002858-d4586832
Name: restaurant_link, dtype: object

In [70]:
len(df.city.unique()), len(df.province.unique()), len(df.region.unique())

(43496, 1334, 251)

In [34]:
len(df.address.unique())

1034685

In [69]:
len(df.awards.unique() ) #nan, "Travellers' Choice, Certificate of Excellence 2020

918

In [43]:
df.claimed.unique()

array(['Claimed', 'Unclaimed', nan], dtype=object)

In [45]:
len(df.popularity_detailed.unique()) #DESCARTAR

981410

In [49]:
len(df.popularity_generic.unique())  #DESCARTAR

981941

In [66]:
len(df.top_tags.unique())   #International, European, British, Deli','Fine Dining, Seafood, Mediterranean

39963

In [64]:
len(df.price_range.unique())       #â‚¬2-â‚¬142', 'â‚¬18-â‚¬81', 'â‚¬35-â‚¬180

7299

In [56]:
df.price_level.unique()  #DESCARTAR

array(['â‚¬', 'â‚¬â‚¬-â‚¬â‚¬â‚¬', nan, 'â‚¬â‚¬â‚¬â‚¬'], dtype=object)

In [62]:
len(df.meals.unique())  #Lunch, Dinner, Drinks

746

In [60]:
len(df.cuisines.unique())  #Central European, Romanian, Grill','International, Barbecue

97742

In [75]:
len(df.special_diets.unique())  #Vegan Options, Vegetarian Friendly, Gluten Free Options

69

In [76]:
len(df.features.unique())  #Reservations, Seating, Wheelchair Accessible, Serves Alcohol, Accepts Credit Cards, Table Service','Reservations, Seating, Table Service, Wheelchair Accessible

56454

In [74]:
df.vegetarian_friendly.unique()

array(['N', 'Y'], dtype=object)

In [77]:
df.vegan_options.unique()

array(['N', 'Y'], dtype=object)

In [78]:
df.gluten_free.unique()

array(['N', 'Y'], dtype=object)

In [81]:
len(df.original_open_hours.unique())  #{"Mon": ["09:00-14:30"], "Tue": ["09:00-14:30", "19:00-21:30"], "Wed": ["09:00-14:30", "19:00-21:30"]

237891

In [83]:
df.open_days_per_week.unique()

array([nan,  7.,  5.,  6.,  1.,  4.,  2.,  3.])

In [84]:
df.working_shifts_per_week.unique()

array([nan, 12., 10.,  6.,  7., 11.,  8., 14., 13.,  9.,  2.,  4.,  5.,
        3.,  1., 15.])

In [85]:
df.avg_rating.unique()

array([4. , 5. , 4.5, 3.5, nan, 3. , 2. , 1. , 2.5, 1.5])

In [88]:
len(df.total_reviews_count.unique())   #3.6000e+01, 5.0000e+00, 1.3000e+01   Â¿UMMMMSSS?

3364

In [91]:
df.reviews_count_in_default_language.unique()  #2.000e+00, 5.000e+00, 4.000e+00    DESCARTAR

array([2.000e+00, 5.000e+00, 4.000e+00, ..., 2.143e+03, 2.454e+03,
       9.239e+03])

In [90]:
df.default_language.unique()

array(['English', 'All languages', nan], dtype=object)

In [102]:
# los datos son + o - * asÃ­: #1.000e+01, 6.000e+00, 1.800e+01, 1.100e+01
len(df.excellent.unique()), len(df.very_good.unique()), len(df.average.unique()), 
len(df.poor.unique()), len(df.terrible.unique())

(1709, 833, 459, 306, 354)

In [103]:
df.food.unique()

array([4. , nan, 4.5, 5. , 3.5, 3. , 2.5, 2. , 1.5, 1. ])

In [104]:
df.service.unique()

array([4.5, nan, 3.5, 4. , 5. , 3. , 2.5, 2. , 1.5, 1. ])

In [105]:
df.value.unique()

array([4. , nan, 4.5, 3.5, 5. , 3. , 2. , 2.5, 1.5, 1. ])

In [107]:
df.atmosphere.unique()

array([nan, 4.5, 4. , 3.5, 5. , 3. , 2.5, 2. , 1. , 1.5])

In [113]:
len(df.keywords.unique())  #nan, 'pizza, tartiflette, fondue, service was excellent, chef, tuna, fish, tapas, vineyard, region'

99002

# Data Tripadvisor SPAIN ðŸ¥˜

In [8]:
df1 = df[(df.country == 'Spain')]
df1.head(3)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Perdon NÂ° 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [9]:
#Spain           #EU
df1.shape    ,  df.shape

((157479, 42), (1083397, 42))

In [10]:
pk.porcentageROW(df1)  #Delete Cols > 70% de Nulls awards, keywords, atmosphere

keywords                             0.942786
atmosphere                           0.799999
awards                               0.772224
special_diets                        0.732942
price_range                          0.693216
features                             0.676681
city                                 0.653319
working_shifts_per_week              0.519110
open_hours_per_week                  0.519110
open_days_per_week                   0.519110
original_open_hours                  0.519110
food                                 0.486687
value                                0.483906
service                              0.482350
meals                                0.449362
price_level                          0.258263
province                             0.187771
cuisines                             0.142965
top_tags                             0.099270
popularity_generic                   0.094247
avg_rating                           0.094051
popularity_detailed                  0.092082
excellent                            0.092019
reviews_count_in_default_language    0.092019
default_language                     0.092019
very_good                            0.092019
poor                                 0.092019
terrible                             0.092019
average                              0.092019
total_reviews_count                  0.056312
latitude                             0.015005
longitude                            0.015005
claimed                              0.001816
region                               0.000013
restaurant_link                      0.000000
gluten_free                          0.000000
vegan_options                        0.000000
restaurant_name                      0.000000
address                              0.000000
country                              0.000000
original_location                    0.000000
vegetarian_friendly                  0.000000
dtype: float64

**DROP COLUMN**

In [11]:
descartar =['popularity_detailed', 'popularity_generic', 
            'price_level', 'reviews_count_in_default_language']

df1.drop(axis=1, columns=descartar, inplace=True )

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## CHECKING  NULLS ðŸ•³ðŸƒâ€â™€ï¸

In [12]:
df1.shape

(157479, 38)

In [13]:
(pk.porcentageROW(df1) > 0).sum()  #30 columnas tienen algÃºn NaN - 30 columnas a analizar

30

**COL REGION ðŸ—º**

In [14]:
df1.region = df1.region.fillna(0)  # asigno a los NaN el valor '0', para identificarlos

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [15]:
df1[(df1.region == 0)] #eliminamos estas 2 filas porque dan conflicto en su bÃºsqueda (cerraron o existen en varias ciudades)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
354203,g187427-d21293370,CafÃ© Bar Los Luises,"[""Europe"", ""Spain""]",Spain,0,NaN,NaN,"Calle Antonio Andres Gonzalez, 17, 04431 Spain",40.41070,-3.727419,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
354204,g187427-d21509069,Restaurante La Ãšnica,"[""Europe"", ""Spain""]",Spain,0,NaN,NaN,Calle La Fuente 27 Camino entre Oceja de Valde...,41.63044,-0.888875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df1.drop([354204, 354203], axis=0, inplace=True)

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
df1[(df1.region == 0)]

Empty DataFrame
Columns: [restaurant_link, restaurant_name, original_location, country, region, province, city, address, latitude, longitude, claimed, awards, top_tags, price_range, meals, cuisines, special_diets, features, vegetarian_friendly, vegan_options, gluten_free, original_open_hours, open_days_per_week, open_hours_per_week, working_shifts_per_week, avg_rating, total_reviews_count, default_language, excellent, very_good, average, poor, terrible, food, service, value, atmosphere, keywords]
Index: []

[0 rows x 38 columns]

**COL TOTAL REVIEWS COUNT**

In [18]:
df1.total_reviews_count = df1.total_reviews_count.fillna(0)  #Asignamos 0 (reviews) a los NaN

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [759]:
len(df1[(df1.total_reviews_count == 0)])

14750

**COL CLAIMED**

In [19]:
df1.claimed.value_counts(dropna=False)

Unclaimed    88093
Claimed      69098
NaN            286
Name: claimed, dtype: int64

In [20]:
df1.claimed = df1.claimed.fillna('Unclaimed')

In [21]:
df1.claimed.value_counts(dropna=False)

Unclaimed    88379
Claimed      69098
Name: claimed, dtype: int64

**COL EXCELENT - VERY GOOD - AVERAGE - POOR - TERRIBLE**

In [22]:
df1.excellent.value_counts(dropna=False)   #DROPPPPP

1.0      29767
0.0      23597
2.0      15880
NaN      14490
3.0      10225
         ...
663.0        1
630.0        1
680.0        1
580.0        1
706.0        1
Name: excellent, Length: 831, dtype: int64

In [23]:
list(df.excellent.unique())[:10]

[2.0, 3.0, 1.0, 4.0, 44.0, 9.0, 18.0, 19.0, nan, 36.0]

In [24]:
df1[(df1.excellent == 706.0 )]

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
364915,g187443-d13238943,Al Wadi,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Jimios 25-32, 41001 Seville Spain",37.386707,-5.994829,...,706.0,101.0,31.0,19.0,13.0,4.5,4.5,4.5,NaN,"hummus, shawarma, rice, baklava, lamb"

**COL DEFAULT LANGUAGES**

In [25]:
df1.default_language.value_counts(dropna=False)

English          90751
All languages    52236
NaN              14490
Name: default_language, dtype: int64

In [26]:
df1.default_language = df1.default_language.fillna('All languages')

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [27]:
df1.default_language.value_counts(dropna=False)

English          90751
All languages    66726
Name: default_language, dtype: int64

**COL TOP TAGS**

In [28]:
df1.top_tags.value_counts(dropna=False).head(5)

NaN                                            15633
Mid-range, Spanish                              9472
Spanish                                         7553
Mid-range, Mediterranean, Spanish               6870
Mid-range, Mediterranean, European, Spanish     6642
Name: top_tags, dtype: int64

In [29]:
df1.top_tags = df1.top_tags.fillna('Info no disponible')

In [30]:
df1.top_tags.value_counts(dropna=False).head()

Info no disponible                             15633
Mid-range, Spanish                              9472
Spanish                                         7553
Mid-range, Mediterranean, Spanish               6870
Mid-range, Mediterranean, European, Spanish     6642
Name: top_tags, dtype: int64

**COL CUISINES**

In [31]:
df1.cuisines.value_counts(dropna=False).head(10)

Spanish                             26234
NaN                                 22514
Mediterranean, Spanish              10622
Spanish, Mediterranean               5450
Mediterranean, European, Spanish     3845
Cafe                                 3842
Mediterranean                        3344
Bar, Pub                             1581
Italian                              1495
Italian, Pizza                       1239
Name: cuisines, dtype: int64

In [32]:
df1.cuisines = df1.cuisines.fillna('Info no disponible')

In [33]:
df1.cuisines.value_counts(dropna=False).head(5)

Spanish                             26234
Info no disponible                  22514
Mediterranean, Spanish              10622
Spanish, Mediterranean               5450
Mediterranean, European, Spanish     3845
Name: cuisines, dtype: int64

**COL MEALS**

In [34]:
df1.meals.value_counts(dropna=False).head()

NaN                           70764
Lunch, Dinner                 23862
Breakfast, Lunch, Dinner       9873
Dinner                         6164
Lunch, Dinner, After-hours     4795
Name: meals, dtype: int64

In [35]:
df1.meals = df1.meals.fillna('Info no disponible')

In [36]:
df1.meals.value_counts(dropna=False).head()

Info no disponible            70764
Lunch, Dinner                 23862
Breakfast, Lunch, Dinner       9873
Dinner                         6164
Lunch, Dinner, After-hours     4795
Name: meals, dtype: int64

**COL FOOD - SERVICE - VALUE - ATMOSPHERE**

In [778]:
df1.food.value_counts(dropna=False)

NaN    76641
4.5    28291
4.0    27368
3.5    12744
5.0     5292
3.0     4842
2.5     1607
2.0      525
1.5      148
1.0       19
Name: food, dtype: int64

In [779]:
df1.service.value_counts(dropna=False)

NaN    75958
4.0    26815
4.5    25586
3.5    14204
5.0     6301
3.0     5840
2.5     1960
2.0      636
1.5      157
1.0       20
Name: service, dtype: int64

In [780]:
df1.value.value_counts(dropna=False)

NaN    76203
4.0    28628
4.5    21930
3.5    16697
3.0     6736
5.0     4175
2.5     2161
2.0      696
1.5      217
1.0       34
Name: value, dtype: int64

In [781]:
df1.atmosphere.value_counts(dropna=False)

NaN    125981
4.0     12463
4.5      8444
3.5      6675
3.0      2179
5.0       999
2.5       525
2.0       165
1.5        36
1.0        10
Name: atmosphere, dtype: int64

**COL OPEN DAYS PER WEEK - OPEN HOURS PER WEEK - ORIGINAL OPEN HOURS**

In [37]:
df1.open_days_per_week.value_counts(dropna=False)

NaN    81748
7.0    38863
6.0    28075
5.0     5043
4.0     1375
3.0     1368
2.0      560
1.0      445
Name: open_days_per_week, dtype: int64

In [783]:
df1.open_hours_per_week.value_counts(dropna=False).head(10)   #  DROPPPPPPPP

NaN      81748
84.0      2417
42.0      1622
98.0      1452
105.0     1355
91.0      1339
56.0      1262
77.0      1179
63.0      1163
112.0     1140
Name: open_hours_per_week, dtype: int64

In [38]:
df1.original_open_hours.value_counts(dropna=False).head(2)

NaN                                                                                                                                                                         81748
{"Mon": ["12:00-00:00"], "Tue": ["12:00-00:00"], "Wed": ["12:00-00:00"], "Thu": ["12:00-00:00"], "Fri": ["12:00-00:00"], "Sat": ["12:00-00:00"], "Sun": ["12:00-00:00"]}      841
Name: original_open_hours, dtype: int64

In [39]:
df1.original_open_hours = df1.original_open_hours.fillna('Info no disponible')

In [40]:
df1.original_open_hours.value_counts(dropna=False).head(2)

Info no disponible                                                                                                                                                          81748
{"Mon": ["12:00-00:00"], "Tue": ["12:00-00:00"], "Wed": ["12:00-00:00"], "Thu": ["12:00-00:00"], "Fri": ["12:00-00:00"], "Sat": ["12:00-00:00"], "Sun": ["12:00-00:00"]}      841
Name: original_open_hours, dtype: int64

**WORKING SHIFTS PER WEEK**

In [787]:
df1.working_shifts_per_week.value_counts(dropna=False)   #DROOOOOPPPPPP

NaN     81748
7.0     29609
6.0     17926
14.0     5663
12.0     4888
11.0     3573
5.0      3239
10.0     2237
8.0      2119
9.0      1932
13.0     1604
3.0       996
4.0       985
2.0       508
1.0       425
15.0       25
Name: working_shifts_per_week, dtype: int64

**COL FEATURES**

In [41]:
df1.features.value_counts(dropna=False).head()

NaN                                                     106561
Reservations                                              5619
Reservations, Seating, Table Service                      1831
Seating, Table Service                                    1367
Reservations, Seating, Serves Alcohol, Table Service      1181
Name: features, dtype: int64

In [42]:
df1.features = df1.features.fillna('Info no disponible')

In [43]:
df1.features.value_counts(dropna=False).head()

Info no disponible                                      106561
Reservations                                              5619
Reservations, Seating, Table Service                      1831
Seating, Table Service                                    1367
Reservations, Seating, Serves Alcohol, Table Service      1181
Name: features, dtype: int64

**PRICE RANGE**

In [44]:
df1.price_range.value_counts(dropna=False).head()

NaN        109166
â‚¬10-â‚¬30      1482
â‚¬10-â‚¬20      1418
â‚¬10-â‚¬25      1168
â‚¬5-â‚¬15       1110
Name: price_range, dtype: int64

In [45]:
df1.price_range = df1.price_range.fillna('Info no disponible')

In [46]:
df1.price_range.value_counts(dropna=False).head()

Info no disponible    109166
â‚¬10-â‚¬30                 1482
â‚¬10-â‚¬20                 1418
â‚¬10-â‚¬25                 1168
â‚¬5-â‚¬15                  1110
Name: price_range, dtype: int64

**SPECIAL DIETS**

In [47]:
df1.special_diets.value_counts(dropna=False).head()

NaN                                                        115421
Vegetarian Friendly                                         14116
Vegetarian Friendly, Vegan Options, Gluten Free Options     11393
Vegetarian Friendly, Vegan Options                           5729
Vegetarian Friendly, Gluten Free Options                     4743
Name: special_diets, dtype: int64

In [48]:
df1.special_diets = df1.special_diets.fillna('Info no disponible')

In [49]:
df1.special_diets.value_counts(dropna=False).head()

Info no disponible                                         115421
Vegetarian Friendly                                         14116
Vegetarian Friendly, Vegan Options, Gluten Free Options     11393
Vegetarian Friendly, Vegan Options                           5729
Vegetarian Friendly, Gluten Free Options                     4743
Name: special_diets, dtype: int64

**AVERAGE RATING**

In [50]:
df1.avg_rating.value_counts(dropna=False)

4.0    41707
4.5    38150
3.5    23054
5.0    17508
NaN    14810
3.0    12677
2.5     5177
2.0     2444
1.0     1147
1.5      803
Name: avg_rating, dtype: int64

In [51]:
df1.avg_rating =df1.avg_rating.fillna('Info no disponible')

In [52]:
df1.avg_rating.value_counts(dropna=False)

4.0                   41707
4.5                   38150
3.5                   23054
5.0                   17508
Info no disponible    14810
3.0                   12677
2.5                    5177
2.0                    2444
1.0                    1147
1.5                     803
Name: avg_rating, dtype: int64

**TODO OK HASTA AQUÃ**

In [53]:
df1.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Perdon NÂ° 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
320903,g10021880-d19468788,El Rincon nÂº 7,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 60, 41870 Aznalcollar Spain",37.51714,-6.26860,...,17.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320904,g10021880-d19847377,Nuevo jacaranda,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 2, 41870 Aznalcollar S...",37.52088,-6.26844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
pk.dropping_col(df1)

AttributeError: module 'src.funcioncitas' has no attribute 'dropping_col'

In [65]:
def dropping_col(dataframe):
    delete = ['working_shifts_per_week', 'open_hours_per_week', 'terrible', 'excellent', 'very_good', 'average', 'poor', 'keywords', 'atmosphere', 'awards', 'open_days_per_week']
    return  1 #  dataframe.drop( axis=1, columns= delete, inplace=True)

In [69]:
funcioncitas.dropping_col(df1)

NameError: name 'funcioncitas' is not defined

In [64]:
pk.porcentageROW(df1)

city                   0.653314
food                   0.486681
value                  0.483899
service                0.482343
province               0.187761
latitude               0.015005
longitude              0.015005
features               0.000000
default_language       0.000000
total_reviews_count    0.000000
avg_rating             0.000000
original_open_hours    0.000000
gluten_free            0.000000
vegan_options          0.000000
vegetarian_friendly    0.000000
restaurant_link        0.000000
special_diets          0.000000
cuisines               0.000000
restaurant_name        0.000000
price_range            0.000000
top_tags               0.000000
claimed                0.000000
address                0.000000
region                 0.000000
country                0.000000
original_location      0.000000
meals                  0.000000
dtype: float64

**PROVINCE  +  FILLNA x REGION ðŸ§ª**

In [802]:
df1.province.value_counts(dropna=False).head()

NaN                      29568
Province of Barcelona    18952
Province of Malaga       10056
Province of Alicante      9137
Province of Valencia      7337
Name: province, dtype: int64

In [803]:
df1.province = df1.province.fillna(0)

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [804]:
len(df1[(df1.province == 0)])

29568

In [805]:
len(b.region)  #Compruebo que tiene la misma longitid que PROVINCE

29568

In [806]:
len(df1[(df1.province == 0) & (df1.region == 'Asturias')] )

2493

In [807]:
len(df1[(df1.province == 0) & (df1.region == 'Navarra')] )

1373

In [808]:
b = df1[(df1.province == 0) & (df1.region != 0)]   #Me saco una lista Ãºnica de REGION para matchear con PROVINCE 
set(b.region)

{'Andalucia',
 'Asturias',
 'Balearic Islands',
 'Basque Country',
 'Canary Islands',
 'Cantabria',
 'Castile and Leon',
 'Catalonia',
 'Ceuta',
 'Community of Madrid',
 'Galicia',
 'La Rioja',
 'Melilla',
 'Navarra',
 'Region of Murcia'}

In [809]:
df1[(df1.province == 0) & (df1.region == 'Andalucia')] = 'Andalucia'
df1[(df1.province == 0) & (df1.region == 'Asturias')] = 'Asturias'
df1[(df1.province == 0) & (df1.region == 'Balearic Islands')] = 'Balearic Islands'
df1[(df1.province == 0) & (df1.region == 'Basque Country')] = 'Basque Country'
df1[(df1.province == 0) & (df1.region == 'Canary Islands')] = 'Canary Islands'
df1[(df1.province == 0) & (df1.region == 'Cantabria')] = 'Cantabria'
df1[(df1.province == 0) & (df1.region == 'Castile and Leon')] = 'Castile and Leon'
df1[(df1.province == 0) & (df1.region == 'Catalonia')] = 'Catalonia'
df1[(df1.province == 0) & (df1.region == 'Ceuta')] = 'Ceuta'
df1[(df1.province == 0) & (df1.region == 'Community of Madrid')] = 'Community of Madrid'
df1[(df1.province == 0) & (df1.region == 'Galicia')] = 'Galicia'
df1[(df1.province == 0) & (df1.region == 'La Rioja')] = 'La Rioja'
df1[(df1.province == 0) & (df1.region == 'Melilla')] = 'Melilla'
df1[(df1.province == 0) & (df1.region == 'Navarra')] = 'Navarra'
df1[(df1.province == 0) & (df1.region == 'Region of Murcia')] = 'Region of Murcia'

<ipython-input-809-25a1c09471a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Andalucia')] = 'Andalucia'
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-809-25a1c09471a3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Asturias')] = 'Asturias'
<ipython-input-809-25a1c09471a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Balearic Islands')] = 'Balearic Islands'
<ipython-input-809-25a1c09471a3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Basque Country')] = 'Basque Country'
<ipython-input-809-25a1c09471a3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Canary Islands')] = 'Canary Islands'
<ipython-input-809-25a1c09471a3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Cantabria')] = 'Cantabria'
<ipython-input-809-25a1c09471a3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Castile and Leon')] = 'Castile and Leon'
<ipython-input-809-25a1c09471a3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Catalonia')] = 'Catalonia'
<ipython-input-809-25a1c09471a3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Ceuta')] = 'Ceuta'
<ipython-input-809-25a1c09471a3>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Community of Madrid')] = 'Community of Madrid'
<ipython-input-809-25a1c09471a3>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Galicia')] = 'Galicia'
<ipython-input-809-25a1c09471a3>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'La Rioja')] = 'La Rioja'
<ipython-input-809-25a1c09471a3>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Melilla')] = 'Melilla'
<ipython-input-809-25a1c09471a3>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Navarra')] = 'Navarra'
<ipython-input-809-25a1c09471a3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Region of Murcia')] = 'Region of Murcia'

In [810]:
df1[(df1.province == 0) & (df1.region == 'Region of Murcia')].head()

Empty DataFrame
Columns: [restaurant_link, restaurant_name, original_location, country, region, province, city, address, latitude, longitude, claimed, awards, top_tags, price_range, meals, cuisines, special_diets, features, vegetarian_friendly, vegan_options, gluten_free, original_open_hours, open_days_per_week, open_hours_per_week, working_shifts_per_week, avg_rating, total_reviews_count, default_language, excellent, very_good, average, poor, terrible, food, service, value, atmosphere, keywords]
Index: []

[0 rows x 38 columns]

In [812]:
df1.head(2)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

**CITY ðŸ§ª**

In [65]:
df1 = df[(df.country == 'Spain')]
df1.head(3)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Perdon NÂ° 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [66]:
df1.city.value_counts(dropna=False).head() # mÃ¡s del 65% Nan

NaN                           102884
Madrid                         12134
Palma de Mallorca               2345
Las Palmas de Gran Canaria      1499
Murcia                           974
Name: city, dtype: int64

In [67]:
df1.city = df1.city.fillna(0)

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [68]:
len(df1[(df1.city == 0) & (df1.province != 0)])

102884

In [69]:
len(a.province)

102884

In [70]:
a = df1[(df1.city == 0) & (df1.province != 0)]
set(a.province)

{'Province of A Coruna',
 'Province of Alava',
 'Province of Albacete',
 'Province of Alicante',
 'Province of Almeria',
 'Province of Avila',
 'Province of Badajoz',
 'Province of Barcelona',
 'Province of Burgos',
 'Province of Caceres',
 'Province of Cadiz',
 'Province of Castellon',
 'Province of Ciudad Real',
 'Province of Cordoba',
 'Province of Cuenca',
 'Province of Girona',
 'Province of Granada',
 'Province of Guadalajara',
 'Province of Guipuzcoa',
 'Province of Huelva',
 'Province of Huesca',
 'Province of Jaen',
 'Province of Leon',
 'Province of Lleida',
 'Province of Lugo',
 'Province of Malaga',
 'Province of Ourense',
 'Province of Palencia',
 'Province of Pontevedra',
 'Province of Salamanca',
 'Province of Segovia',
 'Province of Seville',
 'Province of Soria',
 'Province of Tarragona',
 'Province of Teruel',
 'Province of Toledo',
 'Province of Valencia',
 'Province of Valladolid',
 'Province of Vizcaya',
 'Province of Zamora',
 'Province of Zaragoza',
 nan}

In [71]:
len(set(a.province))

42

In [ ]:
df1[(df1.city == 0) & (df1.province == 'Province of A Coruna')] = 'A Coruna'
df1[(df1.city == 0) & (df1.province == 'Province of Alava')] = 'Alava'
df1[(df1.city == 0) & (df1.province == 'Province of Albacete')] = 'Albacete'
df1[(df1.city == 0) & (df1.province == 'Province of Alicante')] = 'Alicante'
df1[(df1.city == 0) & (df1.province == 'Province of Almeria')] = 'Almeria'
df1[(df1.city == 0) & (df1.province == 'Province of Avila')] = 'Avila'
df1[(df1.city == 0) & (df1.province == 'Province of Badajoz')] = 'Badajoz'
df1[(df1.city == 0) & (df1.province == 'Province of Barcelona')] = 'Barcelona'
df1[(df1.city == 0) & (df1.province == 'Province of Burgos')] = 'Burgos'
df1[(df1.city == 0) & (df1.province == 'Province of Caceres')] = 'Caceres'
df1[(df1.city == 0) & (df1.province == 'Province of Cadiz')] = 'Cadiz'
df1[(df1.city == 0) & (df1.province == 'Province of Castellon')] = 'Castellon'
df1[(df1.city == 0) & (df1.province == 'Province of Ciudad Real')] = 'Ciudad Real'
df1[(df1.city == 0) & (df1.province == 'Province of Cordoba')] = 'Cordoba'
df1[(df1.city == 0) & (df1.province == 'Province of Cuenca')] = 'Cuenca'
df1[(df1.city == 0) & (df1.province == 'Province of Girona')] = 'Girona'
df1[(df1.city == 0) & (df1.province == 'Province of Granada')] = 'Granada'
df1[(df1.city == 0) & (df1.province == 'Province of Guadalajara')] = 'Guadalajara'
df1[(df1.city == 0) & (df1.province == 'Province of Guipuzcoa')] = 'Guipuzcoa'
df1[(df1.city == 0) & (df1.province == 'Province of Huelva')] = 'Huelva'
df1[(df1.city == 0) & (df1.province == 'Province of Huesca')] = 'Huesca'
df1[(df1.city == 0) & (df1.province == 'Province of Jaen')] = 'Jaen'
df1[(df1.city == 0) & (df1.province == 'Province of Leon')] = 'Leon'
df1[(df1.city == 0) & (df1.province == 'Province of Lleida')] = 'Lleida'
df1[(df1.city == 0) & (df1.province == 'Province of Lugo')] = 'Lugo'
df1[(df1.city == 0) & (df1.province == 'Province of Malaga')] = 'Malaga'
df1[(df1.city == 0) & (df1.province == 'Province of Ourense')] = 'Ourense'
df1[(df1.city == 0) & (df1.province == 'Province of Palencia')] = 'Palencia'
df1[(df1.city == 0) & (df1.province == 'Province of Pontevedra')] = 'Pontevedra'
df1[(df1.city == 0) & (df1.province == 'Province of Salamanca')] = 'Salamanca'
df1[(df1.city == 0) & (df1.province == 'Province of Segovia')] = 'egovia'
df1[(df1.city == 0) & (df1.province == 'Province of Soria')] = 'Soria'
df1[(df1.city == 0) & (df1.province == 'Province of Tarragona')] = 'Tarragona'
df1[(df1.city == 0) & (df1.province == 'Province of Teruel')] = 'Teruel'
df1[(df1.city == 0) & (df1.province == 'Province of Toledo')] = 'Toledo'
df1[(df1.city == 0) & (df1.province == 'Province of Valencia')] = 'Valencia'
df1[(df1.city == 0) & (df1.province == 'Province of Valladolid')] = 'Valladolid'
df1[(df1.city == 0) & (df1.province == 'Province of Vizcaya')] = 'Vizcaya'
df1[(df1.city == 0) & (df1.province == 'Province of Zamora')] = 'Zamora'
df1[(df1.city == 0) & (df1.province == 'Province of Zaragoza')] = 'Zaragoza'
df1[(df1.city == 0) & (df1.province == 'Province of Zaragoza')] = 'Zaragoza'
df1[(df1.city == 0) & (df1.province == 'Province of Seville')] = 'Seville'

In [76]:
df1[(df1.city == 'Granada')]

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
321452,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
321453,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
321454,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
321455,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
321456,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475539,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
475638,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
475639,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
475640,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada
475660,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,...,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada,Granada

In [64]:
df1

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,0,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,0,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,0,"Calle Perdon NÂ° 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
320903,g10021880-d19468788,El Rincon nÂº 7,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,0,"Calle del Concejo 60, 41870 Aznalcollar Spain",37.51714,-6.2686,...,17.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320904,g10021880-d19847377,Nuevo jacaranda,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,0,"Calle del 28 de Febrero 2, 41870 Aznalcollar S...",37.52088,-6.26844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478374,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,...,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna
478375,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,...,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna
478376,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,...,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna
478377,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,...,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna,A Coruna
478378,g9984094-d15652066,Restaurante Fito Mar,"[""Europe"", ""Spain"", ""Asturias"", ""Caravia Munic...",Spain,Asturias,Caravia Municipality,Playa de La Espasa,"Calle Espasa, La Bajo, 33343 Playa de La Espas...",43.47393,-5.211904,...,2.0,8.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN

In [42]:
pk.porcentageROW(df1)

keywords                   0.352688
atmosphere                 0.302034
awards                     0.289162
special_diets              0.274710
price_range                0.261552
features                   0.258079
working_shifts_per_week    0.194191
open_hours_per_week        0.194191
open_days_per_week         0.194191
original_open_hours        0.194191
province                   0.187771
food                       0.182075
value                      0.180659
service                    0.180081
meals                      0.170702
cuisines                   0.054064
top_tags                   0.037148
avg_rating                 0.036322
very_good                  0.035446
terrible                   0.035446
poor                       0.035446
average                    0.035446
default_language           0.035446
excellent                  0.035446
total_reviews_count        0.024143
longitude                  0.005480
latitude                   0.005480
claimed                    0.000318
region                     0.000013
restaurant_link            0.000000
gluten_free                0.000000
restaurant_name            0.000000
vegetarian_friendly        0.000000
address                    0.000000
city                       0.000000
country                    0.000000
original_location          0.000000
vegan_options              0.000000
dtype: float64

**LATITUDE AND LONGITUDE ðŸŒŽ**

In [564]:
c = df1.latitude.unique()
len(list(c))

22860

In [571]:
df1.latitude = df1.latitude.fillna(0)
df1.longitude = df1.longitude.fillna(0)

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [576]:
len(df1[(df1.longitude == 0)])

543

In [579]:
d = list(df1.longitude.unique())
e = list(df1.latitude.unique())

In [607]:
elat = []
for l in e:
    if l == str():
        elat.append(l)
elat

[]

In [572]:
pk.porcentageROW(df1)

food                   0.072480
value                  0.071522
service                0.071229
cuisines               0.000000
default_language       0.000000
total_reviews_count    0.000000
avg_rating             0.000000
original_open_hours    0.000000
gluten_free            0.000000
vegan_options          0.000000
vegetarian_friendly    0.000000
features               0.000000
special_diets          0.000000
restaurant_link        0.000000
restaurant_name        0.000000
price_range            0.000000
top_tags               0.000000
claimed                0.000000
longitude              0.000000
latitude               0.000000
address                0.000000
city                   0.000000
province               0.000000
region                 0.000000
country                0.000000
original_location      0.000000
meals                  0.000000
dtype: float64

In [554]:
def drop_col(dataframe):
    drop = ['working_shifts_per_week', 'open_hours_per_week', 'terrible', 'excellent', 'very_good', 'average', 'poor', 'open_days_per_week']
           #'keywords', 'atmosphere', 'awards'
    return df1.drop( axis=1, columns= drop, inplace=True)

In [555]:
drop_col(df1)

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [1]:
pk.porcentageROW(df1)

NameError: name 'pk' is not defined

In [33]:
df1[(df1.restaurant_link == 'Seville')]

Empty DataFrame
Columns: [restaurant_link, restaurant_name, original_location, country, region, province, city, address, latitude, longitude, claimed, awards, top_tags, price_range, meals, cuisines, special_diets, features, vegetarian_friendly, vegan_options, gluten_free, original_open_hours, open_days_per_week, open_hours_per_week, working_shifts_per_week, avg_rating, total_reviews_count, default_language, excellent, very_good, average, poor, terrible, food, service, value, atmosphere, keywords]
Index: []

[0 rows x 38 columns]

# Fails

In [202]:
cols = list(df1.columns)
def value_NaN_Col(colum):
    for colum in cols:
        return df1.colum.value_counts(dropna=False)

SyntaxError: invalid syntax (<ipython-input-202-07f47d13424e>, line 2)

In [148]:
value_NaN_Col(region)

NameError: name 'region' is not defined

In [209]:
df1[(df1.region) == np.nan ] # ' ', '', 0, NaN, Null, None

Empty DataFrame
Columns: [restaurant_link, restaurant_name, original_location, country, region, province, city, address, latitude, longitude, claimed, awards, top_tags, price_range, meals, cuisines, special_diets, features, vegetarian_friendly, vegan_options, gluten_free, original_open_hours, open_days_per_week, open_hours_per_week, working_shifts_per_week, avg_rating, total_reviews_count, default_language, excellent, very_good, average, poor, terrible, food, service, value, atmosphere, keywords]
Index: []

[0 rows x 38 columns]