In [1]:
import pandas as pd
from src.funcioncitas import * 
import numpy as np

# Data Tripadvisor Europa üçü

In [2]:
df = pd.read_csv('./DATA/tripadvisor_european_restaurants.csv')
df.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(1083397, 42)

## % de nulos

<H4> COLUMNS </H4>

In [4]:
porcentageCOL(df).head()  #en realidad son FILAS

526351    0.738095
521199    0.738095
525716    0.738095
526346    0.738095
521187    0.738095
dtype: float64

<H4> ROWS </H4>

In [5]:
porcentageROW(df)  #en realidad son COLUMNAS

keywords                             0.908438
atmosphere                           0.758367
awards                               0.757122
price_range                          0.719099
features                             0.707026
special_diets                        0.685936
working_shifts_per_week              0.451880
open_hours_per_week                  0.451880
open_days_per_week                   0.451880
original_open_hours                  0.451880
food                                 0.446809
value                                0.443702
service                              0.442229
meals                                0.413560
city                                 0.369841
province                             0.314411
price_level                          0.255867
cuisines                             0.156086
top_tags                             0.102118
popularity_generic                   0.090264
avg_rating                           0.089197
excellent                            0.087865
reviews_count_in_default_language    0.087865
default_language                     0.087865
very_good                            0.087865
poor                                 0.087865
terrible                             0.087865
average                              0.087865
popularity_detailed                  0.087676
total_reviews_count                  0.048214
region                               0.046449
longitude                            0.014575
latitude                             0.014575
claimed                              0.001700
restaurant_link                      0.000000
gluten_free                          0.000000
vegan_options                        0.000000
restaurant_name                      0.000000
address                              0.000000
country                              0.000000
original_location                    0.000000
vegetarian_friendly                  0.000000
dtype: float64

## Delete Nulls

In [6]:
df1 = df.dropna(axis=0, how='all')
df1 = df.dropna(axis=1, how='all')
df1.shape   #No tenemos ninguna fila ni columnas vacia (NaN)

(1083397, 42)

## An√°lisis de cada Columna

In [7]:
df.country.unique()

array(['France', 'The Netherlands', 'Germany', 'Austria', 'Spain',
       'England', 'Northern Ireland', 'Scotland', 'Wales', 'Italy',
       'Ireland', 'Poland', 'Sweden', 'Belgium', 'Greece', 'Croatia',
       'Portugal', 'Slovakia', 'Czech Republic', 'Hungary', 'Finland',
       'Denmark', 'Bulgaria', 'Romania'], dtype=object)

In [8]:
df.restaurant_link[:3]

0    g10001637-d10002227
1    g10001637-d14975787
2     g10002858-d4586832
Name: restaurant_link, dtype: object

In [9]:
len(df.city.unique()), len(df.province.unique()), len(df.region.unique())

(43496, 1334, 251)

In [10]:
# los datos son + o - * as√≠: #1.000e+01, 6.000e+00, 1.800e+01, 1.100e+01                          DESCARTAR
len(df.excellent.unique()), len(df.very_good.unique()), len(df.average.unique()), 
len(df.poor.unique()), len(df.terrible.unique())

(306, 354)

# Data Tripadvisor SPAIN ü•ò

In [11]:
df1 = df[(df.country == 'Spain')]
df1.head(3)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Perdon N¬∞ 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [12]:
#Spain           #EU
df1.shape    ,  df.shape

((157479, 42), (1083397, 42))

In [14]:
porcentageROW(df1)  #DELETE COLS > 70% de Nulls awards, keywords, atmosphere

keywords                             0.942786
atmosphere                           0.799999
awards                               0.772224
special_diets                        0.732942
price_range                          0.693216
features                             0.676681
city                                 0.653319
working_shifts_per_week              0.519110
open_hours_per_week                  0.519110
open_days_per_week                   0.519110
original_open_hours                  0.519110
food                                 0.486687
value                                0.483906
service                              0.482350
meals                                0.449362
price_level                          0.258263
province                             0.187771
cuisines                             0.142965
top_tags                             0.099270
popularity_generic                   0.094247
avg_rating                           0.094051
popularity_detailed                  0.092082
excellent                            0.092019
reviews_count_in_default_language    0.092019
default_language                     0.092019
very_good                            0.092019
poor                                 0.092019
terrible                             0.092019
average                              0.092019
total_reviews_count                  0.056312
latitude                             0.015005
longitude                            0.015005
claimed                              0.001816
region                               0.000013
restaurant_link                      0.000000
gluten_free                          0.000000
vegan_options                        0.000000
restaurant_name                      0.000000
address                              0.000000
country                              0.000000
original_location                    0.000000
vegetarian_friendly                  0.000000
dtype: float64

**DROP COLUMN**

In [15]:
descartar =['popularity_detailed', 'popularity_generic', 
            'price_level', 'reviews_count_in_default_language']

df1.drop(axis=1, columns=descartar, inplace=True )

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## CHECKING  NULLS üï≥üèÉ‚Äç‚ôÄÔ∏è

In [16]:
df1.shape

(157479, 38)

In [17]:
(porcentageROW(df1) > 0).sum()  #30 columnas tienen alg√∫n NaN - 30 columnas a analizar y LIMPIAR

30

**COL REGION üó∫**

In [18]:
df1.region.value_counts(dropna=False)  #2 NaN

Andalucia              29562
Catalonia              28569
Valencian Country      18406
Community of Madrid    18130
Canary Islands         12039
Balearic Islands        9190
Galicia                 8082
Castile and Leon        6842
Basque Country          5226
Castile-La Mancha       3793
Asturias                3659
Aragon                  3523
Region of Murcia        3443
Cantabria               2286
Extremadura             1963
Navarra                 1378
La Rioja                 901
Melilla                  365
Ceuta                    120
NaN                        2
Name: region, dtype: int64

In [19]:
df1.region = df1.region.fillna(0)  # asigno a los NaN el valor '0', para identificarlos

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
df1[(df1.region == 0)] #eliminamos estas 2 filas porque dan conflicto en su b√∫squeda (cerraron o existen en varias ciudades)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
354203,g187427-d21293370,Caf√© Bar Los Luises,"[""Europe"", ""Spain""]",Spain,0,NaN,NaN,"Calle Antonio Andres Gonzalez, 17, 04431 Spain",40.41070,-3.727419,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
354204,g187427-d21509069,Restaurante La √önica,"[""Europe"", ""Spain""]",Spain,0,NaN,NaN,Calle La Fuente 27 Camino entre Oceja de Valde...,41.63044,-0.888875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df1.drop([354204, 354203], axis=0, inplace=True)   #Elemino las √∫nicas 2 filas con NaN

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
df1[(df1.region == 0)]

Empty DataFrame
Columns: [restaurant_link, restaurant_name, original_location, country, region, province, city, address, latitude, longitude, claimed, awards, top_tags, price_range, meals, cuisines, special_diets, features, vegetarian_friendly, vegan_options, gluten_free, original_open_hours, open_days_per_week, open_hours_per_week, working_shifts_per_week, avg_rating, total_reviews_count, default_language, excellent, very_good, average, poor, terrible, food, service, value, atmosphere, keywords]
Index: []

[0 rows x 38 columns]

**COL TOTAL REVIEWS COUNT**

In [23]:
df1.total_reviews_count = df1.total_reviews_count.fillna(0)  #Asignamos 0 (reviews) a los NaN

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [24]:
len(df1[(df1.total_reviews_count == 0)])

14750

**COL CLAIMED**

In [25]:
df1.claimed.value_counts(dropna=False)

Unclaimed    88093
Claimed      69098
NaN            286
Name: claimed, dtype: int64

In [26]:
df1.claimed = df1.claimed.fillna('Unclaimed')

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [27]:
df1.claimed.value_counts(dropna=False)

Unclaimed    88379
Claimed      69098
Name: claimed, dtype: int64

**COL EXCELENT - VERY GOOD - AVERAGE - POOR - TERRIBLE**

In [21]:
df1.excellent.value_counts(dropna=False)   #DROPPPPP

1.0      29767
0.0      23597
2.0      15880
NaN      14490
3.0      10225
         ...
663.0        1
630.0        1
680.0        1
580.0        1
706.0        1
Name: excellent, Length: 831, dtype: int64

In [22]:
list(df.excellent.unique())[:10]

[2.0, 3.0, 1.0, 4.0, 44.0, 9.0, 18.0, 19.0, nan, 36.0]

In [23]:
df1[(df1.excellent == 706.0 )]

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
364915,g187443-d13238943,Al Wadi,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,NaN,"Calle Jimios 25-32, 41001 Seville Spain",37.386707,-5.994829,...,706.0,101.0,31.0,19.0,13.0,4.5,4.5,4.5,NaN,"hummus, shawarma, rice, baklava, lamb"

**COL DEFAULT LANGUAGES**

In [28]:
df1.default_language.value_counts(dropna=False)

English          90751
All languages    52236
NaN              14490
Name: default_language, dtype: int64

In [29]:
df1.default_language = df1.default_language.fillna('All languages')  #Cambio los NAN x All  languages

In [30]:
df1.default_language.value_counts(dropna=False)

English          90751
All languages    66726
Name: default_language, dtype: int64

**COL TOP TAGS**

In [31]:
df1.top_tags.value_counts(dropna=False).head(5)

NaN                                            15633
Mid-range, Spanish                              9472
Spanish                                         7553
Mid-range, Mediterranean, Spanish               6870
Mid-range, Mediterranean, European, Spanish     6642
Name: top_tags, dtype: int64

In [33]:
df1.top_tags = df1.top_tags.fillna('Info no disponible')

In [34]:
df1.top_tags.value_counts(dropna=False).head()

Info no disponible                             15633
Mid-range, Spanish                              9472
Spanish                                         7553
Mid-range, Mediterranean, Spanish               6870
Mid-range, Mediterranean, European, Spanish     6642
Name: top_tags, dtype: int64

**COL CUISINES**

In [35]:
df1.cuisines.value_counts(dropna=False).head(10)

Spanish                             26234
NaN                                 22514
Mediterranean, Spanish              10622
Spanish, Mediterranean               5450
Mediterranean, European, Spanish     3845
Cafe                                 3842
Mediterranean                        3344
Bar, Pub                             1581
Italian                              1495
Italian, Pizza                       1239
Name: cuisines, dtype: int64

In [36]:
df1.cuisines = df1.cuisines.fillna('Info no disponible')

In [37]:
df1.cuisines.value_counts(dropna=False).head(5)

Spanish                             26234
Info no disponible                  22514
Mediterranean, Spanish              10622
Spanish, Mediterranean               5450
Mediterranean, European, Spanish     3845
Name: cuisines, dtype: int64

**COL MEALS**

In [38]:
df1.meals.value_counts(dropna=False).head()

NaN                           70764
Lunch, Dinner                 23862
Breakfast, Lunch, Dinner       9873
Dinner                         6164
Lunch, Dinner, After-hours     4795
Name: meals, dtype: int64

In [39]:
df1.meals = df1.meals.fillna('Info no disponible')

In [40]:
df1.meals.value_counts(dropna=False).head()

Info no disponible            70764
Lunch, Dinner                 23862
Breakfast, Lunch, Dinner       9873
Dinner                         6164
Lunch, Dinner, After-hours     4795
Name: meals, dtype: int64

**COL FOOD - SERVICE - VALUE - ATMOSPHERE**

In [41]:
df1.food.value_counts(dropna=False)

NaN    76641
4.5    28291
4.0    27368
3.5    12744
5.0     5292
3.0     4842
2.5     1607
2.0      525
1.5      148
1.0       19
Name: food, dtype: int64

In [42]:
df1.service.value_counts(dropna=False)

NaN    75958
4.0    26815
4.5    25586
3.5    14204
5.0     6301
3.0     5840
2.5     1960
2.0      636
1.5      157
1.0       20
Name: service, dtype: int64

In [43]:
df1.value.value_counts(dropna=False)

NaN    76203
4.0    28628
4.5    21930
3.5    16697
3.0     6736
5.0     4175
2.5     2161
2.0      696
1.5      217
1.0       34
Name: value, dtype: int64

In [44]:
df1.atmosphere.value_counts(dropna=False)

NaN    125981
4.0     12463
4.5      8444
3.5      6675
3.0      2179
5.0       999
2.5       525
2.0       165
1.5        36
1.0        10
Name: atmosphere, dtype: int64

**COL OPEN DAYS PER WEEK - OPEN HOURS PER WEEK - ORIGINAL OPEN HOURS**

In [45]:
df1.open_days_per_week.value_counts(dropna=False)

NaN    81748
7.0    38863
6.0    28075
5.0     5043
4.0     1375
3.0     1368
2.0      560
1.0      445
Name: open_days_per_week, dtype: int64

In [46]:
df1.open_hours_per_week.value_counts(dropna=False).head(10)   #  DROPPPPPPPP

NaN      81748
84.0      2417
42.0      1622
98.0      1452
105.0     1355
91.0      1339
56.0      1262
77.0      1179
63.0      1163
112.0     1140
Name: open_hours_per_week, dtype: int64

In [47]:
df1.original_open_hours.value_counts(dropna=False).head(2)

NaN                                                                                                                                                                         81748
{"Mon": ["12:00-00:00"], "Tue": ["12:00-00:00"], "Wed": ["12:00-00:00"], "Thu": ["12:00-00:00"], "Fri": ["12:00-00:00"], "Sat": ["12:00-00:00"], "Sun": ["12:00-00:00"]}      841
Name: original_open_hours, dtype: int64

In [48]:
df1.original_open_hours = df1.original_open_hours.fillna('Info no disponible')

In [49]:
df1.original_open_hours.value_counts(dropna=False).head(2)

Info no disponible                                                                                                                                                          81748
{"Mon": ["12:00-00:00"], "Tue": ["12:00-00:00"], "Wed": ["12:00-00:00"], "Thu": ["12:00-00:00"], "Fri": ["12:00-00:00"], "Sat": ["12:00-00:00"], "Sun": ["12:00-00:00"]}      841
Name: original_open_hours, dtype: int64

**WORKING SHIFTS PER WEEK**

In [50]:
df1.working_shifts_per_week.value_counts(dropna=False)   #DROOOOOPPPPPP

NaN     81748
7.0     29609
6.0     17926
14.0     5663
12.0     4888
11.0     3573
5.0      3239
10.0     2237
8.0      2119
9.0      1932
13.0     1604
3.0       996
4.0       985
2.0       508
1.0       425
15.0       25
Name: working_shifts_per_week, dtype: int64

**COL FEATURES**

In [51]:
df1.features.value_counts(dropna=False).head()

NaN                                                     106561
Reservations                                              5619
Reservations, Seating, Table Service                      1831
Seating, Table Service                                    1367
Reservations, Seating, Serves Alcohol, Table Service      1181
Name: features, dtype: int64

In [52]:
df1.features = df1.features.fillna('Info no disponible')

In [53]:
df1.features.value_counts(dropna=False).head()

Info no disponible                                      106561
Reservations                                              5619
Reservations, Seating, Table Service                      1831
Seating, Table Service                                    1367
Reservations, Seating, Serves Alcohol, Table Service      1181
Name: features, dtype: int64

**PRICE RANGE**

In [54]:
df1.price_range.value_counts(dropna=False).head()

NaN        109166
‚Ç¨10-‚Ç¨30      1482
‚Ç¨10-‚Ç¨20      1418
‚Ç¨10-‚Ç¨25      1168
‚Ç¨5-‚Ç¨15       1110
Name: price_range, dtype: int64

In [55]:
df1.price_range = df1.price_range.fillna('Info no disponible')

In [56]:
df1.price_range.value_counts(dropna=False).head()

Info no disponible    109166
‚Ç¨10-‚Ç¨30                 1482
‚Ç¨10-‚Ç¨20                 1418
‚Ç¨10-‚Ç¨25                 1168
‚Ç¨5-‚Ç¨15                  1110
Name: price_range, dtype: int64

**SPECIAL DIETS**

In [57]:
df1.special_diets.value_counts(dropna=False).head()

NaN                                                        115421
Vegetarian Friendly                                         14116
Vegetarian Friendly, Vegan Options, Gluten Free Options     11393
Vegetarian Friendly, Vegan Options                           5729
Vegetarian Friendly, Gluten Free Options                     4743
Name: special_diets, dtype: int64

In [58]:
df1.special_diets = df1.special_diets.fillna('Info no disponible')

In [59]:
df1.special_diets.value_counts(dropna=False).head()

Info no disponible                                         115421
Vegetarian Friendly                                         14116
Vegetarian Friendly, Vegan Options, Gluten Free Options     11393
Vegetarian Friendly, Vegan Options                           5729
Vegetarian Friendly, Gluten Free Options                     4743
Name: special_diets, dtype: int64

**AVERAGE RATING**

In [60]:
df1.avg_rating.value_counts(dropna=False)

4.0    41707
4.5    38150
3.5    23054
5.0    17508
NaN    14810
3.0    12677
2.5     5177
2.0     2444
1.0     1147
1.5      803
Name: avg_rating, dtype: int64

In [61]:
df1.avg_rating =df1.avg_rating.fillna('Info no disponible')

In [62]:
df1.avg_rating.value_counts(dropna=False)

4.0                   41707
4.5                   38150
3.5                   23054
5.0                   17508
Info no disponible    14810
3.0                   12677
2.5                    5177
2.0                    2444
1.0                    1147
1.5                     803
Name: avg_rating, dtype: int64

**TODO OK HASTA AQU√ç ‚úÖ**

In [63]:
dropping_col(df1)  #DROPPING COLUMNS

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [64]:
df1.head(3)

,restaurant_link,restaurant_name,original_location,country,region,province,address,latitude,longitude,claimed,...,vegan_options,gluten_free,original_open_hours,avg_rating,total_reviews_count,default_language,food,service,value,atmosphere
320900,g10021880-d13763192,Taberna La Sacristia,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,"Calle del Concejo 19, 41870 Aznalcollar Spain",37.51928,-6.26885,Unclaimed,...,N,N,Info no disponible,3.0,1.0,English,NaN,NaN,NaN,NaN
320901,g10021880-d15758746,Tasca el Capricho,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,"Calle del 28 de Febrero 9, 41870 Aznalcollar S...",37.52065,-6.26822,Unclaimed,...,N,N,Info no disponible,5.0,2.0,All languages,NaN,NaN,NaN,NaN
320902,g10021880-d19332558,Bar Las Adelfas,"[""Europe"", ""Spain"", ""Andalucia"", ""Province of ...",Spain,Andalucia,Province of Seville,"Calle Perdon N¬∞ 23 Capilla de La Cruz, 41870 A...",37.52428,-6.27144,Claimed,...,N,N,"{""Mon"": [], ""Tue"": [""19:30-23:45""], ""Wed"": [""1...",3.0,2.0,All languages,NaN,NaN,NaN,NaN

In [65]:
porcentageROW(df1)

atmosphere             0.799996
food                   0.486681
value                  0.483899
service                0.482343
province               0.187761
latitude               0.015005
longitude              0.015005
features               0.000000
default_language       0.000000
total_reviews_count    0.000000
avg_rating             0.000000
original_open_hours    0.000000
gluten_free            0.000000
vegan_options          0.000000
vegetarian_friendly    0.000000
restaurant_link        0.000000
special_diets          0.000000
restaurant_name        0.000000
meals                  0.000000
price_range            0.000000
top_tags               0.000000
claimed                0.000000
address                0.000000
region                 0.000000
country                0.000000
original_location      0.000000
cuisines               0.000000
dtype: float64

**WORK DF2, DF3, DF4....**

In [67]:
df2 = df1

**df2**

In [68]:
df2.tail(3)

,restaurant_link,restaurant_name,original_location,country,region,province,address,latitude,longitude,claimed,...,vegan_options,gluten_free,original_open_hours,avg_rating,total_reviews_count,default_language,food,service,value,atmosphere
478376,g9871604-d9812919,Parrillada Barral,"[""Europe"", ""Spain"", ""Galicia"", ""Province of A ...",Spain,Galicia,Province of A Coruna,"Rua Santa Maria De Ois, S/n Parada N 9, 15316,...",43.234463,-8.130470,Claimed,...,N,Y,"{""Mon"": [""07:00-23:59""], ""Tue"": [""07:00-23:59""...",4.0,77.0,All languages,4.5,4.0,4.0,NaN
478377,g9871607-d20375801,BP,"[""Europe"", ""Spain"", ""Galicia"", ""Province of A ...",Spain,Galicia,Province of A Coruna,"Carretera Nacional Vi Km. 567, 15316 Coiros de...",43.248390,-8.161417,Unclaimed,...,N,N,"{""Mon"": [""07:00-23:00""], ""Tue"": [""07:00-23:00""...",Info no disponible,0.0,All languages,NaN,NaN,NaN,NaN
478378,g9984094-d15652066,Restaurante Fito Mar,"[""Europe"", ""Spain"", ""Asturias"", ""Caravia Munic...",Spain,Asturias,Caravia Municipality,"Calle Espasa, La Bajo, 33343 Playa de La Espas...",43.473930,-5.211904,Unclaimed,...,N,N,"{""Mon"": [""10:00-23:59""], ""Tue"": [""10:00-23:59""...",3.0,17.0,All languages,NaN,NaN,NaN,NaN

**TOTAL DE RESTAURANTES x REGION**

In [71]:
table_region= dict(df2.region.value_counts(dropna=False))

In [72]:
columnas =['region', 'total_restaurantes']

In [73]:
df_table_region = pd.DataFrame.from_dict(table_region, orient='index').reset_index()

In [74]:
df_table_region.columns = columnas
df_table_region

                 region  total_restaurantes
0             Andalucia               29562
1             Catalonia               28569
2     Valencian Country               18406
3   Community of Madrid               18130
4        Canary Islands               12039
5      Balearic Islands                9190
6               Galicia                8082
7      Castile and Leon                6842
8        Basque Country                5226
9     Castile-La Mancha                3793
10             Asturias                3659
11               Aragon                3523
12     Region of Murcia                3443
13            Cantabria                2286
14          Extremadura                1963
15              Navarra                1378
16             La Rioja                 901
17              Melilla                 365
18                Ceuta                 120

# Save DataFrame TripAd-Spain - RESTAURANTS üîê

In [69]:
df1.to_csv('df_tripAd_Spain_Restaurants.csv', header=True, index=False)

In [75]:
df_table_region.to_csv('df_tablatotal_region_restaurant.csv', header=True, index=False)

In [78]:
df_table_region.to_json('geo_jason_ccaa.json', orient="split")

In [73]:
df1[(df1.province == 0) & (df1.region == 'Andalucia')] = 'Andalucia'
df1[(df1.province == 0) & (df1.region == 'Asturias')] = 'Asturias'
df1[(df1.province == 0) & (df1.region == 'Balearic Islands')] = 'Balearic Islands'
df1[(df1.province == 0) & (df1.region == 'Basque Country')] = 'Basque Country'
df1[(df1.province == 0) & (df1.region == 'Canary Islands')] = 'Canary Islands'
df1[(df1.province == 0) & (df1.region == 'Cantabria')] = 'Cantabria'
df1[(df1.province == 0) & (df1.region == 'Castile and Leon')] = 'Castile and Leon'
df1[(df1.province == 0) & (df1.region == 'Catalonia')] = 'Catalonia'
df1[(df1.province == 0) & (df1.region == 'Ceuta')] = 'Ceuta'
df1[(df1.province == 0) & (df1.region == 'Community of Madrid')] = 'Community of Madrid'
df1[(df1.province == 0) & (df1.region == 'Galicia')] = 'Galicia'
df1[(df1.province == 0) & (df1.region == 'La Rioja')] = 'La Rioja'
df1[(df1.province == 0) & (df1.region == 'Melilla')] = 'Melilla'
df1[(df1.province == 0) & (df1.region == 'Navarra')] = 'Navarra'
df1[(df1.province == 0) & (df1.region == 'Region of Murcia')] = 'Region of Murcia'

<ipython-input-73-25a1c09471a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Andalucia')] = 'Andalucia'
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-73-25a1c09471a3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Asturias')] = 'Asturias'
<ipython-input-73-25a1c09471a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Balearic Islands')] = 'Balearic Islands'
<ipython-input-73-25a1c09471a3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Basque Country')] = 'Basque Country'
<ipython-input-73-25a1c09471a3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Canary Islands')] = 'Canary Islands'
<ipython-input-73-25a1c09471a3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Cantabria')] = 'Cantabria'
<ipython-input-73-25a1c09471a3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Castile and Leon')] = 'Castile and Leon'
<ipython-input-73-25a1c09471a3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Catalonia')] = 'Catalonia'
<ipython-input-73-25a1c09471a3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Ceuta')] = 'Ceuta'
<ipython-input-73-25a1c09471a3>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Community of Madrid')] = 'Community of Madrid'
<ipython-input-73-25a1c09471a3>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Galicia')] = 'Galicia'
<ipython-input-73-25a1c09471a3>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'La Rioja')] = 'La Rioja'
<ipython-input-73-25a1c09471a3>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Melilla')] = 'Melilla'
<ipython-input-73-25a1c09471a3>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Navarra')] = 'Navarra'
<ipython-input-73-25a1c09471a3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[(df1.province == 0) & (df1.region == 'Region of Murcia')] = 'Region of Murcia'

In [ ]:
df2[(df2.city == 0) & (df2.province == 'Province of A Coruna')] = 'A Coruna'
df2[(df2.city == 0) & (df2.province == 'Province of Alava')] = 'Alava'
df2[(df2.city == 0) & (df2.province == 'Province of Albacete')] = 'Albacete'
df2[(df2.city == 0) & (df2.province == 'Province of Alicante')] = 'Alicante'
df2[(df2.city == 0) & (df2.province == 'Province of Almeria')] = 'Almeria'
df2[(df2.city == 0) & (df2.province == 'Province of Avila')] = 'Avila'
df2[(df2.city == 0) & (df2.province == 'Province of Badajoz')] = 'Badajoz'
df2[(df2.city == 0) & (df2.province == 'Province of Barcelona')] = 'Barcelona'
df2[(df2.city == 0) & (df2.province == 'Province of Burgos')] = 'Burgos'
df2[(df2.city == 0) & (df2.province == 'Province of Caceres')] = 'Caceres'
df2[(df2.city == 0) & (df2.province == 'Province of Cadiz')] = 'Cadiz'
df2[(df2.city == 0) & (df2.province == 'Province of Castellon')] = 'Castellon'
df2[(df2.city == 0) & (df2.province == 'Province of Ciudad Real')] = 'Ciudad Real'
df2[(df2.city == 0) & (df2.province == 'Province of Cordoba')] = 'Cordoba'
df2[(df2.city == 0) & (df2.province == 'Province of Cuenca')] = 'Cuenca'
df2[(df2.city == 0) & (df2.province == 'Province of Girona')] = 'Girona'
df2[(df2.city == 0) & (df2.province == 'Province of Granada')] = 'Granada'
df2[(df2.city == 0) & (df2.province == 'Province of Guadalajara')] = 'Guadalajara'
df2[(df2.city == 0) & (df2.province == 'Province of Guipuzcoa')] = 'Guipuzcoa'
df2[(df2.city == 0) & (df2.province == 'Province of Huelva')] = 'Huelva'
df2[(df2.city == 0) & (df2.province == 'Province of Huesca')] = 'Huesca'
df2[(df2.city == 0) & (df2.province == 'Province of Jaen')] = 'Jaen'
df2[(df2.city == 0) & (df2.province == 'Province of Leon')] = 'Leon'
df2[(df2.city == 0) & (df2.province == 'Province of Lleida')] = 'Lleida'
df2[(df2.city == 0) & (df2.province == 'Province of Lugo')] = 'Lugo'
df2[(df2.city == 0) & (df2.province == 'Province of Malaga')] = 'Province of Malaga'
df2[(df2.city == 0) & (df2.province == 'Province of Ourense')] = 'Ourense'
df2[(df2.city == 0) & (df2.province == 'Province of Palencia')] = 'Palencia'
df2[(df2.city == 0) & (df2.province == 'Province of Pontevedra')] = 'Pontevedra'
df2[(df2.city == 0) & (df2.province == 'Province of Salamanca')] = 'Salamanca'
df2[(df2.city == 0) & (df2.province == 'Province of Segovia')] = 'Segovia'
df2[(df2.city == 0) & (df2.province == 'Province of Seville')] = 'Seville'
df2[(df2.city == 0) & (df2.province == 'Province of Soria')] = 'Soria'
df2[(df2.city == 0) & (df2.province == 'Province of Tarragona')] = 'Tarragona'
df2[(df2.city == 0) & (df2.province == 'Province of Teruel')] = 'Teruel'
df2[(df2.city == 0) & (df2.province == 'Province of Toledo')] = 'Toledo'
df2[(df2.city == 0) & (df2.province == 'Province of Valencia')] = 'Valencia'
df2[(df2.city == 0) & (df2.province == 'Province of Valladolid')] = 'Valladolid'
df2[(df2.city == 0) & (df2.province == 'Province of Vizcaya')] = 'Vizcaya'
df2[(df2.city == 0) & (df2.province == 'Province of Zamora')] = 'Zamora'
df2[(df2.city == 0) & (df2.province == 'Province of Zaragoza')] = 'Zaragoza'

**PROVINCE  +  FILLNA x [region] üß™**

In [366]:
df2.province.value_counts(dropna=False).head()    #PROVINCE

NaN                      29568
Province of Barcelona    18952
Province of Malaga       10056
Province of Alicante      9137
Province of Valencia      7337
Name: province, dtype: int64

In [367]:
df2.province = df2.province.fillna('hola')

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [368]:
df2.province.value_counts(dropna=False)

hola                     29568
Province of Barcelona    18952
Province of Malaga       10056
Province of Alicante      9137
Province of Valencia      7337
                         ...
Coana                        1
Degana                       1
Mazcuerras                   1
Muros del Nalon              1
Guriezo                      1
Name: province, Length: 136, dtype: int64

In [369]:
b = df2[(df2.province == 'hola') & (df2.region != 0)]   #Me saco una lista √∫nica de REGION para matchear con PROVINCE 
set(b.region)

{'Andalucia',
 'Asturias',
 'Balearic Islands',
 'Basque Country',
 'Canary Islands',
 'Cantabria',
 'Castile and Leon',
 'Catalonia',
 'Ceuta',
 'Community of Madrid',
 'Galicia',
 'La Rioja',
 'Melilla',
 'Navarra',
 'Region of Murcia'}

In [370]:
len(b.region)  #REGION Compruebo que tiene la misma longitid que PROVINCE

29568

In [371]:
len(df2[(df2.province == 'hola')])    #FILLNA hola

29568

In [372]:
len(df2[(df2.province == 'hola') & (df2.region == 'Navarra')] )

1373

**df3 Province**

In [472]:
df3 = df2[['restaurant_link', 'province', 'region' ]]
df3

            restaurant_link              province     region
320900  g10021880-d13763192   Province of Seville  Andalucia
320901  g10021880-d15758746   Province of Seville  Andalucia
320902  g10021880-d19332558   Province of Seville  Andalucia
320903  g10021880-d19468788   Province of Seville  Andalucia
320904  g10021880-d19847377   Province of Seville  Andalucia
...                     ...                   ...        ...
478374   g9871604-d13931661  Province of A Coruna    Galicia
478375    g9871604-d8738469  Province of A Coruna    Galicia
478376    g9871604-d9812919  Province of A Coruna    Galicia
478377   g9871607-d20375801  Province of A Coruna    Galicia
478378   g9984094-d15652066  Caravia Municipality   Asturias

[157477 rows x 3 columns]

In [473]:
df3.province.value_counts(dropna=False)  # hola = NaN

hola                     29568
Province of Barcelona    18952
Province of Malaga       10056
Province of Alicante      9137
Province of Valencia      7337
                         ...
Coana                        1
Degana                       1
Mazcuerras                   1
Muros del Nalon              1
Guriezo                      1
Name: province, Length: 136, dtype: int64

In [474]:
df3.region.value_counts(dropna=False) #No hay NaN y podemos Matchear Provincia x Regi√≥n

Andalucia              29562
Catalonia              28569
Valencian Country      18406
Community of Madrid    18130
Canary Islands         12039
Balearic Islands        9190
Galicia                 8082
Castile and Leon        6842
Basque Country          5226
Castile-La Mancha       3793
Asturias                3659
Aragon                  3523
Region of Murcia        3443
Cantabria               2286
Extremadura             1963
Navarra                 1378
La Rioja                 901
Melilla                  365
Ceuta                    120
Name: region, dtype: int64

In [465]:
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Andalucia')] = 'Andalucia'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Asturias')] = 'Asturias'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Balearic Islands')] = 'Balearic Islands'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Basque Country')] = 'Basque Country'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Canary Islands')] = 'Canary Islands'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Cantabria')] = 'Cantabria'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Castile and Leon')] = 'Castile and Leon'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Catalonia')] = 'Catalonia'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Ceuta')] = 'Ceuta'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Community of Madrid')] = 'Madrid'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Galicia')] = 'Galicia'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'La Rioja')] = 'La Rioja'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Melilla')] = 'Melilla'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Navarra')] = 'Navarra'
df3.province = df3[(df3.province == 'hola') & (df3.region == 'Region of Murcia')] = 'Murcia'

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-465-b4465d0e8076>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Andalucia')] = 'Andalucia'
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
<ipython-input-465-b4465d0e8076>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Asturias')] = 'Asturias'
<ipython-input-465-b4465d0e8076>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Balearic Islands')] = 'Balearic Islands'
<ipython-input-465-b4465d0e8076>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Basque Country')] = 'Basque Country'
<ipython-input-465-b4465d0e8076>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Canary Islands')] = 'Canary Islands'
<ipython-input-465-b4465d0e8076>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Cantabria')] = 'Cantabria'
<ipython-input-465-b4465d0e8076>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Castile and Leon')] = 'Castile and Leon'
<ipython-input-465-b4465d0e8076>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Catalonia')] = 'Catalonia'
<ipython-input-465-b4465d0e8076>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Ceuta')] = 'Ceuta'
<ipython-input-465-b4465d0e8076>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Community of Madrid')] = 'Madrid'
<ipython-input-465-b4465d0e8076>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Galicia')] = 'Galicia'
<ipython-input-465-b4465d0e8076>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'La Rioja')] = 'La Rioja'
<ipython-input-465-b4465d0e8076>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Melilla')] = 'Melilla'
<ipython-input-465-b4465d0e8076>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Navarra')] = 'Navarra'
<ipython-input-465-b4465d0e8076>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.province = df3[(df3.province == 'hola') & (df3.region == 'Region of Murcia')] = 'Murcia'

In [478]:
df3.province = df3.loc[((df3.province == 'hola') & (df3.region == 'Asturias'))] = 'Asturias'

C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\christian\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [479]:
df3

            restaurant_link  province     region
320900  g10021880-d13763192  Asturias  Andalucia
320901  g10021880-d15758746  Asturias  Andalucia
320902  g10021880-d19332558  Asturias  Andalucia
320903  g10021880-d19468788  Asturias  Andalucia
320904  g10021880-d19847377  Asturias  Andalucia
...                     ...       ...        ...
478374   g9871604-d13931661  Asturias    Galicia
478375    g9871604-d8738469  Asturias    Galicia
478376    g9871604-d9812919  Asturias    Galicia
478377   g9871607-d20375801  Asturias    Galicia
478378   g9984094-d15652066  Asturias   Asturias

[157477 rows x 3 columns]

In [399]:
df3.province.value_counts(dropna=False)  #No hay 0, es decir no Nan y que se han matcheado perfectamente

NaN    157477
Name: province, dtype: int64

In [177]:
len(df3), len(df1)

(157477, 157477)

In [382]:
df3.restaurant_link.value_counts(dropna=False)

g1437588-d19089741    1
g187448-d10493861     1
g187529-d4740995      1
g12904399-d4501902    1
g1078251-d8539787     1
                     ..
g187472-d6351085      1
g652129-d13661895     1
g187451-d12540779     1
g187508-d11881930     1
g1592234-d11045280    1
Name: restaurant_link, Length: 157477, dtype: int64

**CITY  FILLNA X [province] üß™**

In [158]:
df1.city = df1.city.fillna(0)

In [159]:
len(df1[(df1.city == 0) & (df1.province != 0)])   #  CITY = PROVINCE

102364

In [160]:
a = df1[(df1.city == 0) & (df1.province != 0)]
set(a.province)

{'Province of A Coruna',
 'Province of Alava',
 'Province of Albacete',
 'Province of Alicante',
 'Province of Almeria',
 'Province of Avila',
 'Province of Badajoz',
 'Province of Barcelona',
 'Province of Burgos',
 'Province of Caceres',
 'Province of Cadiz',
 'Province of Castellon',
 'Province of Ciudad Real',
 'Province of Cordoba',
 'Province of Cuenca',
 'Province of Girona',
 'Province of Granada',
 'Province of Guadalajara',
 'Province of Guipuzcoa',
 'Province of Huelva',
 'Province of Huesca',
 'Province of Jaen',
 'Province of Leon',
 'Province of Lleida',
 'Province of Lugo',
 'Province of Malaga',
 'Province of Ourense',
 'Province of Palencia',
 'Province of Pontevedra',
 'Province of Salamanca',
 'Province of Segovia',
 'Province of Seville',
 'Province of Soria',
 'Province of Tarragona',
 'Province of Teruel',
 'Province of Toledo',
 'Province of Valencia',
 'Province of Valladolid',
 'Province of Vizcaya',
 'Province of Zamora',
 'Province of Zaragoza'}

In [161]:
len(a.province)    #CITY = PROVINCE

102364

In [ ]:
len(set(a.province))

**df3 - Province**

**df5**

In [181]:
df5 = df2[['restaurant_link','province', 'city']]
df5.head()

            restaurant_link             province city
320900  g10021880-d13763192  Province of Seville    0
320901  g10021880-d15758746  Province of Seville    0
320902  g10021880-d19332558  Province of Seville    0
320903  g10021880-d19468788  Province of Seville    0
320904  g10021880-d19847377  Province of Seville    0

**df6**

In [ ]:
df6 = pd.merge(df3,df5, on='restaurant_link')
df6.head()

**df7**

In [ ]:
df7 = df6[['restaurant_link','province_x','city']]
df7.head()

In [ ]:
df7.province_x.value_counts(dropna=False)

In [ ]:
df7.loc[(df7.city == 0) & (df7.province_x == 'Province of A Coruna')] = 'A Coruna'

In [ ]:
df7[(df7.city == 'A Coruna')]

In [ ]:
df7[(df7.city == 0) & (df7.province_x == 'Province of A Coruna')] = 'A Coruna'
df7[(df7.city == 0) & (df7.province_x == 'Province of Alava')] = 'Alava'
df7[(df7.city == 0) & (df7.province_x == 'Province of Albacete')] = 'Albacete'
df7[(df7.city == 0) & (df7.province_x == 'Province of Alicante')] = 'Alicante'
df7[(df7.city == 0) & (df7.province_x == 'Province of Almeria')] = 'Almeria'
df7[(df7.city == 0) & (df7.province_x == 'Province of Avila')] = 'Avila'
df7[(df7.city == 0) & (df7.province_x == 'Province of Badajoz')] = 'Badajoz'
df7[(df7.city == 0) & (df7.province_x == 'Province of Barcelona')] = 'Barcelona'
df7[(df7.city == 0) & (df7.province_x == 'Province of Burgos')] = 'Burgos'
df7[(df7.city == 0) & (df7.province_x == 'Province of Caceres')] = 'Caceres'
df7[(df7.city == 0) & (df7.province_x == 'Province of Cadiz')] = 'Cadiz'
df7[(df7.city == 0) & (df7.province_x == 'Province of Castellon')] = 'Castellon'
df7[(df7.city == 0) & (df7.province_x == 'Province of Ciudad Real')] = 'Ciudad Real'
df7[(df7.city == 0) & (df7.province_x == 'Province of Cordoba')] = 'Cordoba'
df7[(df7.city == 0) & (df7.province_x == 'Province of Cuenca')] = 'Cuenca'
df7[(df7.city == 0) & (df7.province_x == 'Province of Girona')] = 'Girona'
df7[(df7.city == 0) & (df7.province_x == 'Province of Granada')] = 'Granada'
df7[(df7.city == 0) & (df7.province_x == 'Province of Guadalajara')] = 'Guadalajara'
df7[(df7.city == 0) & (df7.province_x == 'Province of Guipuzcoa')] = 'Guipuzcoa'
df7[(df7.city == 0) & (df7.province_x == 'Province of Huelva')] = 'Huelva'
df7[(df7.city == 0) & (df7.province_x == 'Province of Huesca')] = 'Huesca'
df7[(df7.city == 0) & (df7.province_x == 'Province of Jaen')] = 'Jaen'
df7[(df7.city == 0) & (df7.province_x == 'Province of Leon')] = 'Leon'
df7[(df7.city == 0) & (df7.province_x == 'Province of Lleida')] = 'Lleida'
df7[(df7.city == 0) & (df7.province_x == 'Province of Lugo')] = 'Lugo'
df7[(df7.city == 0) & (df7.province_x == 'Province of Malaga')] = 'Province of Malaga'
df7[(df7.city == 0) & (df7.province_x == 'Province of Ourense')] = 'Ourense'
df7[(df7.city == 0) & (df7.province_x == 'Province of Palencia')] = 'Palencia'
df7[(df7.city == 0) & (df7.province_x == 'Province of Pontevedra')] = 'Pontevedra'
df7[(df7.city == 0) & (df7.province_x == 'Province of Salamanca')] = 'Salamanca'
df7[(df7.city == 0) & (df7.province_x == 'Province of Segovia')] = 'Segovia'
df7[(df7.city == 0) & (df7.province_x == 'Province of Seville')] = 'Seville'
df7[(df7.city == 0) & (df7.province_x == 'Province of Soria')] = 'Soria'
df7[(df7.city == 0) & (df7.province_x == 'Province of Tarragona')] = 'Tarragona'
df7[(df7.city == 0) & (df7.province_x == 'Province of Teruel')] = 'Teruel'
df7[(df7.city == 0) & (df7.province_x == 'Province of Toledo')] = 'Toledo'
df7[(df7.city == 0) & (df7.province_x == 'Province of Valencia')] = 'Valencia'
df7[(df7.city == 0) & (df7.province_x == 'Province of Valladolid')] = 'Valladolid'
df7[(df7.city == 0) & (df7.province_x == 'Province of Vizcaya')] = 'Vizcaya'
df7[(df7.city == 0) & (df7.province_x == 'Province of Zamora')] = 'Zamora'
df7[(df7.city == 0) & (df7.province_x == 'Province of Zaragoza')] = 'Zaragoza'

In [ ]:
df7.head()

In [ ]:
df6[(df6.city == 0) & (df6.province_x == 'Province of A Coruna')]

**df4**

In [ ]:
df4 = df2[['restaurant_link', 'latitude', 'longitude' ]]
df4.head()

In [ ]:
df4.latitude.value_counts(dropna=False)

In [ ]:
df4.latitude = df4.latitude.fillna(0)
df4.longitude = df4.longitude.fillna(0)

In [ ]:
df4.latitude.value_counts(dropna=False)

**LATITUDE AND LONGITUDE üåé**

In [ ]:
df1.latitude.value_counts(dropna=False).head(15)

In [ ]:
df1.longitude.value_counts(dropna=False).head(15)

In [ ]:
df1.longitude.value_counts(dropna=False).head(25)

In [ ]:
b = df1[(df1.province == 0) & (df1.region != 0)]   #Me saco una lista √∫nica de REGION para matchear con PROVINCE 
set(b.region)

# Fails

In [ ]:
df1[(df1.restaurant_link == 'Seville')]

In [ ]:
cols = list(df1.columns)
def value_NaN_Col(colum):
    for colum in cols:
        return df1.colum.value_counts(dropna=False)

In [ ]:
value_NaN_Col(region)

In [ ]:
df1[(df1.region) == np.nan ] # ' ', '', 0, NaN, Null, None